

body {
	background-color: #fafafa;
}

.threadindex_list {
	padding: 0;
  	list-style-type: none;
  	background-color: #fff;
  	width:450px;
  	margin: auto;
}


.threadindex_list li {
	border-top: 1px solid #EDDDDD;
	padding: 20px;
}


.title {
	font-size: 14pt;
}

.validator_msg {
	margin-top: 4px;
	font-size: 10pt;
	color:red;
	display: none;
}

.vdl { 
	display: none;
}
