

body {
	background-color: #fafafa;

}

.threadindex_list {
	margin: 0 auto;
  	padding: 0;
  	list-style-type: none;
  	background-color: #fff;
}

@media only screen and (min-width: 788px) {
	.threadindex_list {
		max-width: 700px;
		background-color: #fff;
  		box-shadow: 0 0 1px #aaa;

	}
}


.threadindex_list li {
	border-top: 1px solid #EDDDDD;
	padding: 20px;
}

.curr_rate {
	font-size: 10pt;
	font-family: Helvetica;
}

.curr_rate_symbol { 
	
	font-family: Helvetica;
	font-weight: bold;
	margin-bottom: 10px;
	display: inline-block;

	
}



.curr_rate_inner {
	display: inline-block;
	margin-right: 20px;
	font-size: 14px;

}

.curr_rate_holding { 
	margin-top: 10px;
	margin-right: 20px;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
}

.profile_header {
	font-size: 16pt;
	font-weight: bold;
}


